<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>Products</title>
</head>
<body>
<main>
    <div th:with="user_present = ${username != null}">
        <nav>
            <div th:if="${user_present}">
                <a th:href="@{/save/product}">Add new product</a>
            </div>
            <div th:unless="${user_present}"></div>
        </nav>
    </div>
    <ul th:each="product : ${products}">
        <li>
            <p th:text="'Name: ' + ${product.name}"></p>
            <p th:text="'Price: ' + ${product.price}"></p>
            <p th:text="'Currency: ' + ${product.currency}"></p>
        </li>
    </ul>
</main>
</body>
</html>
