<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>Register</title>
<!--    <link rel="stylesheet" href="./style.css">-->
</head>
<body>
<main>
    <div>
        <h3>Register</h3>
        <form th:object="${newUser}" method="POST" th:action="@{/register}">
            <label for="newUser_username">Username</label>
            <input required id="newUser_username" type="text" th:field="*{username}" minlength="3" maxlength="24"/>
            <label for="newUser_name">Name</label>
            <input required id="newUser_name" type="text" th:field="*{name}" minlength="1" maxlength="32"/>

            <label for="newUser_currency"></label>
            <select required name="currency" id="newUser_currency">
                <option value='' disabled selected>Preferred Currency: </option>
                <option th:each="currencyOption : ${T(ru.itmo.dkudaiberdieva.design.reactive.enums.Currency).values()}"
                        th:value="${currencyOption}" th:text="${currencyOption}"></option>
            </select>
            <input id="register" type="submit" th:value="register">
        </form>
    </div>
</main>
</body>
</html>
